# Gitignore from Quickstart
# qkst.io/dotfiles/gitignore

bin
pkg

# Executables
*.out
*.exe
*.app

# Logs
*.log
logs

# Linux
*~
.Trash-*

# OS X
._*
.fuse_*
.Spotlight-*
.DS_Store

# Windows
*.tmp
*.bak
*.lnk
Thumbs.db

# Other temporary files
*.dump
*.swp
